# Deperated files
misc/
data_old/
.deprecated/
*deprecated*

# backup
*backup/
back_diff/
*.zip

# data
data/
*.csv
data/**/*.csv

# Python Caches
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Generated output files
# plots/
*.log
*training_log_*.log

# VSCode specific
.vscode/

# Virtual environment
venv/
*.env
.venv/

# Tool scripts
tools/

# Build and distribution artifacts
*.egg-info/
build/
dist/
artifacts/
artifacts_sb3/

# Dissertation latex code
latex/*/out
latex/presentation/figures
latex/presentation/mermaid
latex/presentation/out
latex/**/*.DS_Store
latex/**/*.pdf
latex/**/*.pptx
latex/**/*.md
latex/**/*.pseudo
latex/*/*.aux
latex/**/*.bbl
latex/**/*.blg
latex/**/*.log
latex/**/*.out
latex/**/*.toc
latex/**/*.lof
latex/**/*.lot
latex/**/*.fls
latex/**/*.fdb_latexmk
latex/**/*.synctex.gz
latex/**/*.png
latex/**/*.jpg
latex/**/*.jpeg
latex/**/*.svg
learn/
latex/**/*.drawio

# vlab
ngrok
ngrok-v3-stable-linux-amd64.zip
.ipynb_checkpoints/
*vlab*.*
*.Identifier
*.pptx
*.pptx
