# Deperated files
misc/

# test data
# *.txt
.csv

# Python Caches
__pycache__/

# Generated output files
# plots/
*.log

# VSCode specific
.vscode/

# Virtual environment
venv/
*.env

# Shell scripts
*.sh
*.ps1