# Deperated files
misc/
data_old/
.deprecated/

# backup
*backup/

# data
data/
*.csv
data/**/*.csv

# Python Caches
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Generated output files
# plots/
*.log
*training_log_*.log

# VSCode specific
.vscode/

# Virtual environment
venv/
*.env
.venv/

# Shell scripts
*.sh
*.ps1
# tools/

# Build and distribution artifacts
*.egg-info/
build/
dist/
artifacts/
artifacts_sb3/

# Dissertation latex code
latex/
latex/out/
learn/

# vlab
ngrok
ngrok-v3-stable-linux-amd64.zip
.ipynb_checkpoints/
*vlab*.*
